.ngo-card {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem 5rem;
  margin: 20px;
  text-align: center;
  margin: 4rem 8rem;
}
 
.ngo-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ngo-description {
  font-size: 1em;
  margin: 0 4rem;
  margin-bottom: 2rem;
  
}

.pay-ngo button{
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: green;
  cursor: pointer;
}

.ngo-details {
  font-size: 1em;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.ngo-location, .ngo-contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location-icon, .phone-icon {
  margin-right: 8px;
  color: #555;
  
}

.ngo-list-container{
  margin-top: 8rem;
}

.ngoInfoHeading{
  text-align: center;
  
}
